.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: white;
}

.description {
  display: inherit;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
  max-width: var(--max-width);
  width: 80%;
  z-index: 2;
  font-family: var(--font-mono);
}

.user_grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 33% [col-start]);
  gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.user_grid > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.user_grid > div > p {
  margin: 2px 0;
}